.header {
    background-color: var(--orange-main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header__image {
    width: 7rem;
}

.header__heading {
    font-size: 3rem;
}

.nav__button {
    border: none;
    background-color: transparent;
}

.button__element {
    margin: 1rem 0;
    background-color: black;
    width: 4.5rem;
    height: 0.5rem;
    transition: transform 1s;
}

/* .button__element--firstActive {
    transform: translate(0px, 7.5px) rotate(45deg)
}

.button__element--secoundActive {
    transform: translate(0px,-7.5px) rotate(-45deg)
} */