.header {
    background-color: var(--orange-main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.header__image {
    width: 7rem;
}

.header__heading {
    font-size: 3rem;
}

.nav__button {
    border: none;
    background-color: transparent;
    transition: transform 0.5s;
}

.nav__button--active {
    transform: rotate(180deg);
}

.button__element {
    margin: 1rem 0;
    background-color: black;
    width: 4.5rem;
    height: 0.5rem;
    transition: transform 0.5s;
}



.button__element--firstActive {
    transform: translate(0px, 7.5px) rotate(45deg);
}

@media(max-width: 720px) {
    .button__element--firstActive {
        transform: translate(0px, 6.25px) rotate(45deg);
    }
}

@media (max-width: 450px) {
    .button__element--firstActive {
        transform: translate(0px, 4.75px) rotate(45deg);
    }
}

@media (max-height: 475px) {
    .button__element--firstActive {
        transform: translate(0px, 4.75px) rotate(45deg);
    }
}

.button__element--secoundActive {
    transform: translate(0px, -7.5px) rotate(-45deg);
}

@media(max-width: 720px) {
    .button__element--secoundActive {
        transform: translate(0px, -6.25px) rotate(-45deg);
    }
}

@media (max-width: 450px) {
    .button__element--secoundActive {
        transform: translate(0px, -4.75px) rotate(-45deg);
    }
}

@media (max-height: 475px) {
    .button__element--secoundActive {
        transform: translate(0px, -4.75px) rotate(-45deg);
    }
}