.result__paragraph {
    font-size: 2rem;
    text-align: center;
    transition: color 0.25s 0.25s;
}

.result__paragraph--darkModeOn {
    color: white;
}

.result__paragraph--special {
    font-size: 2.25rem;
    font-weight: 500;
}

.paragraph--fromAmount, .paragraph--result {
    color: var(--orange-main-color);
}