* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, ::after, ::before {
  box-sizing: inherit;
  overflow-x: hidden;
}

body {
  background-color: var(--light-main-color);
  transition: background-color 0.5s;
}

:root {
  font-size: 60%;
  --light-main-color: hsl(0, 0%, 95%);
  --dark-main-color: hsl(0, 0%, 20%);
  --dark-secound-color: hsl(0, 0%, 30%);
  --orange-main-color: orange;
}

@media(max-width: 720px) {
  :root {
    font-size: 50%;
  }
}

@media (max-width: 450px) {
  :root {
    font-size: 40%;
  }
}

@media (max-height: 475px) {
  :root {
    font-size: 40%;
  }
}