* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, ::after, ::before {
  box-sizing: inherit;
}

:root {
  font-size: 60%;
  --mbg-color: #fff;
  --dbg-color: #000;
  --msec-color: orange;
}

@media(max-width: 720px) {
  :root {
    font-size: 50%;
  }
}

@media (max-width: 450px) {
  :root {
    font-size: 40%;
  }
}