* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, ::after, ::before {
  box-sizing: inherit;
  overflow-x: hidden;
}

:root {
  font-size: 60%;
  --light-main-color: #fff;
  --dark-bg-color: #000;
  --orange-main-color: orange;
}

@media(max-width: 720px) {
  :root {
    font-size: 50%;
  }
}

@media (max-width: 450px) {
  :root {
    font-size: 40%;
  }
}